@import "src/scss/variables";
@import "src/scss/breakpoints";

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  .heading {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.category {
  .category_item {
    margin-top: 15px;
    a {
      @include magicButton();
      margin: 0 auto;
    }
  }
}