.cloud {
    border-radius: 1.15rem;
    line-height: 1.25;
    padding: 5px 10px;
    word-wrap: break-word;
    background-color: #248bf5;
    color: #fff;
    position: absolute;
    z-index: 5;


    &::after,
    &::before {
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        position: absolute;
    }

    &::after {
        background-color: #fff;
        border-bottom-right-radius: 0.5rem;
        left: 20px;
        transform: translate(-30px, -2px);
        width: 10px;
    }

    &::before {
        border-bottom-right-radius: 0.8rem 0.7rem;
        border-left: 1rem solid #248bf5;
        left: -0.35rem;
        transform: translate(0, -0.1rem);
    }
}