@import "src/scss/variables";
@import "src/scss/breakpoints";

.card {
  background: transparent;
  perspective: 1000px;
  height: fit-content;
  list-style: none;
  &.turn {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
  .cardInner {
    background: $musicCard;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .front, .back {
      backface-visibility: hidden;
    }
    .front {
      text-align: center;
      & > div {
        margin-bottom: 5px;
      }
    }
    .back {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 100px);
      transform: rotateY(180deg);
      .inner {
        height: 100%;
        overflow-y: scroll;
        line-height: 25px;
        &::-webkit-scrollbar {
          width: 5px;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
          background: #000;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $musicCard;
        }
      }
    }
  }
  img {
    border-radius: 10px;
    width: 50%;
    margin: 0 auto 20px auto;
  }
}

.adminButtons {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  @include breakpoint(tablet) {
    gap: 10px;
  }
}