@import "../../../scss/variables";
@import "../../../scss/breakpoints";


.articleContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  @include breakpoint(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
  }
  li {
    position: relative;
    .title {
      width: fit-content;
    }
    .link {
      display: block;
      position: relative;
      padding: 25px 40px 20px 20px;
      box-shadow: 0 0.1rem 0.5rem 0 rgb(21 21 30 / 12%);
      border-radius: 5px;
      transition: all .5s ease;
      &:hover {
        box-shadow: 0 0.1rem 0.5rem 0 $secColor;
        transform: scale(1.03);
      }
    }
    .userName {
      position: absolute;
      left: 20px;
      top: -20px;
      background: $secColor;
      color: #fff;
      padding: 8px;
      border-radius: 5px;
      transform: translate(0, 0);
      text-align: center;
      line-height: 17px;

    }
    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(25%, -50%);
      width: 50px;
      border-radius: 100%;
      z-index: 5;
    }
  }
}

.edit_links {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.like_container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  .like {
    cursor: pointer;
    transition: all .5s ease;
    &.clicked {
      font-size: 15px;
      padding: 0 10px;
    } 
  }
  .count {
    cursor: pointer;
    &:hover {
      ~ .likedList {
        transform: translateY(60%);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .likedList {
    position: absolute;
    padding: 8px;
    border-radius: 5px;
    background: $secColor;
    color: #fff;
    transform: translateY(50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
  }
}

.links_container {
  display: flex;
  position: absolute;
  margin-bottom: 0;
  @include breakpoint(tablet) {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  @include breakpoint(mobile) {
    right: unset;
  }
}