@import "../../scss/variables";
@import "../../scss/breakpoints";
header {
  background: $secColor;
  transition: all .5s ease-in-out;
  color: #fff;
  section {
    @include flexFull(space-between);
    @include breakpoint(tablet) {
      @include flexFull(space-evenly);
    }
    .logo {
      width: 250px;
      img {
        filter: invert(1);
      }
    }
    nav {
      list-style: none;
      @include flexFull();
      a, button {
        @include magicButton($blue);
        cursor: pointer;
      }
      @include breakpoint(tablet) {
        display: none;
      }
      .logout {
        @include magicButton(red);
      }
    }
    .quote {
      font-style: italic;
      @include magicButton(green);
    }
    .auth {
      @include flexFull();
      @include breakpoint(tablet) {
        display: none;
      }
      a {
        @include magicButton($blue);
      }
    }
  }
}