@import "src/scss/breakpoints";

.alertContainer {
  position: absolute;
  transition: all .5s ease;
  z-index: 2;
  left: 25%;
  right: 25%;
  @include breakpoint (mobile) {
    left: 10px;
    right: 10px;
  }
  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-55px);
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-65px);
  }
}

.close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  &.show {
    display: block;
  }
  &.hidden {
    display: none;
  }
}