@import "zero";
@import "variables";

@font-face {
  font-family: "OwnFont";
  src: url('./fonts/CreteRound-Regular.ttf') format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $mainFont;
}

main {
  margin-bottom: 100px;
}

.main_container {
 @extend %main_container;
}