$mainColor: #228B22;
$secColor: #0e1538;
$fontColor: #000;
$pink: #ff22bb;
$blue: #00ccff;
$green: #22e622;
$yellow: yellow;
$musicCard: #161618;
$mainFont: 'OwnFont', serif;
$maxWidth: 1400px;

@mixin flexFull($var: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $var;
  align-items: center;
}

@mixin form($color: $secColor) {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin magicButton ($color: $blue, $sec: $secColor) {
  position: relative;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
  transition: all .5s ease-in-out;
  overflow: hidden;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  //-webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #000400);
  &:hover {
    background-color: $color;
    box-shadow: 0 0 10px $color,
    0 0 30px $color,
    0 0 60px $color,
    0 0 100px $color;
    &::before {
      width: 100%;
    }
    &::after {
      background: $color;
    }
    span {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 350%;
    background: $color;
    transition: all 1s ease;
    animation: anim 5s linear infinite;
    animation-delay: .33s;
  }
  &:after {
    content: "";
    position: absolute;
    inset: 3px;
    background-color: $sec;
  }
  &.active {
    background-color: $color;
    box-shadow: 0 0 10px $color,
    0 0 30px $color,
    0 0 60px $color,
    0 0 100px $color;
    &::before {
      width: 100%;
    }
    &::after {
      background: $color;
    }
    span {
      opacity: 1;
    }
  }
  span {
    position: relative;
    color: #fff;
    opacity: .7;
    text-transform: uppercase;
    z-index: 1;
    transition: .5s;
  }
  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin gradient_background() {
  background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
  border-radius: 5px;
  padding: 8px 45px;
  width: fit-content;
  margin: 20px auto 30px auto;
}

%main_container {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 15px;
}
